<!DOCTYPE html>
<!--- CDN for DT dependencies--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.js"></script>
<!--- CDN for DT and plugins, for reference https://datatables.net/download/--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
<!-- searchbuilder css and js inorder -->

<!-- for filter -->
<script type="text/javascript" src="jquery.dataTables.js"></script>
<script type="text/javascript" src="dataTables.filter.range.js"></script>

{% extends "welcome/base.html" %}


{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'welcome/css/about.css' %}">
</head>
{% block content %}



<!--- --->





<!--- amcharts begin --->
<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

  .tickerTitle figure {
    width: 300px;
    height: 200px;
    display: none;
    position: relative;
    top: 2em;
    right: 5em;
    padding: 0;
    margin: 0;
    border: 1px solid maroon;
    background: maroon;
    border-radius: 1em;
  }

  .tickerTitle img {
    display: block;
    border-radius: 0.8em;
    max-width: 100%;
    height: auto;
  }

  .tickerTitle:focus figure,
  .tickerTitle:hover figure {
    display: block;
  }

</style>

 {{graph | safe}}

<body>
  <script type="text/javascript" src="{% static 'welcome/js/stockHover.js'%}"></script>
  <div id = 'hoverParent' class='hoverParent'> Test Hover Parent Class </div>


<table cellspacing="5" cellpadding="5" border="0">
        <tbody>  <tr>
            <td>Ticker</td>
            <td><input type="text" id="ticker" name="ticker"></td>
            <td>Pattern</td>
            <td>
              <select id="patterns" name="patterns">
                <option value="All">All</option>
                <option value="Top Gainer">Top Gainer</option>
                <option value="Top Loser">Top Loser</option>
                <option value="New High">New High</option>
                <option value="New Low">New Low</option>
                <option value="Most Volatile">Most Volatile</option>
                <option value="Most Active">Most Active</option>
                <option value="Unusual Volume">Unusual Volume</option>
                <option value="Overbought">Overbought</option>
                <option value="Oversold">Oversold</option>
                <option value="Downgrades">Downgrades</option>
                <option value="Upgrades">Upgrades</option>
                <option value="Earnings Before">Earnings Before</option>
                <option value="Earnings After">Earnings After</option>
                <option value="Recent Insider Buying">Recent Insider Buying</option>
                <option value="Recent Insider Selling">Recent Insider Selling</option>
                <option value="Major News">Major News</option>
                <option value="Horizontal S/R">Horizontal S/R</option>
                <option value="TL Resistance">TL Resistance</option>
                <option value="TL Support">TL Support</option>
                <option value="Wedge Up">Wedge Up</option>
                <option value="Wedge Down">Wedge Down</option>
                <option value="Triangle Ascending">Triangle Ascending</option>
                <option value="Triangle Descending">Triangle Descending</option>
                <option value="Wedge">Wedge</option>
                <option value="Channel Up">Channel Up</option>
                <option value="Channel Down">Channel Down</option>
                <option value="Channel">Channel</option>
                <option value="Double Top">Double Top</option>
                <option value="Double Bottom">Double Bottom</option>
                <option value="Multiple Top">Multiple Top</option>
                <option value="Multiple Bottom">Multiple Bottom</option>
                <option value="Head and Shoulders">Head and Shoulders</option>
                <option value="Head and Shoulders Inverse">Head and Shoulders Inverse</option>
              </select> </td>

        </tr>
          <tr>
            <td>MaxVolume</td>
            <td><input type="text" id="maxVol" name="maxVol"></td>
            <td>MinVolume</td>
            <td><input type="text" id="minVol" name="minVol"></td>
            <td>MaxOpen</td>
            <td><input type="text" id="maxOpen" name="maxOpen"></td>
            <td>MinOpen</td>
            <td><input type="text" id="minOpen" name="minOpen"></td>
        </tr>
          <tr>
            <td>MaxClose</td>
            <td><input type="text" id="maxClose" name="maxClose"></td>
            <td>MinClose</td>
            <td><input type="text" id="minClose" name="minClose"></td>
          <td>MaxChange</td>
          <td><input type="text" id="maxChange" name="maxChange"></td>
          <td>MinChange</td>
          <td><input type="text" id="minChange" name="minChange"></td>
      </tr>
    </tbody></table>


<!--- table for filter queries END---->

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Graph</th>
                <th>Company</th>
                <th>Sector</th>
                <th>Country</th>
                <th>Market Cap</th>
                <th>52 Week High %</th>
                <th>52 Week Low %</th>
                <th>SMA 20</th>
                <th>SMA 50</th>
                <th>Price</th>
                <th>Volume</th>
                <th>(%)</th>
            </tr>
        </thead>
        <tbody>
          <!--- need for blocks to retrieve data here --->
          {%for stock in stocks%}
            <tr>
              <td>{{ stock.ticker }}</td>
                <td style="color:blue;">
                  <div class="tickerTitle">
                    </div>
                    <figure><img src="{% get_static_prefix %}images/USGraphs/{{stock.ticker}}.png" width = "100" height= "50" alt="Graph Not Yet Generated"></figure>
                   </div>
                </td>
                <td>{{ stock.company }}</td>
                <td>{{ stock.sector }}</td>
                <td>{{ stock.country }}</td>
                <td>
                  {% if stock.marketcap > 1%}
                  {{ stock.marketcap }}
                  {%else%}
                  -
                  {%endif%}
                </td>
                <td style="color:green;">{{stock.high52}}</td>
                <td style="color:red;">{{stock.low52}}</td>
                <td>{{stock.SMA20}}</td>
                <td>{{stock.SMA50}}</td>
                <td>{{ stock.price}}</td>
                <td>{{ stock.volume}}</td>
                {% if stock.change > 0 %}
                <td style="color:green; background:honeydew;">{{stock.change}}</td>
                {% elif stock.change < 0 %}
                <td style="color:red; background:mistyrose;">{{stock.change}}</td>
                {% else %}
                <td>{{stock.change}}</td>
                {%endif%}
            </tr>
          {%endfor%}
        </tbody>
        <tfoot>
          <tr>
            <th>Ticker</th>
            <th>Graph</th>
            <th>Volume</th>
            <th>High</th>
            <th>Low</th>
            <th>Daily Change (%)</th>
          </tr>
        </tfoot>
    </table>
  </body>
    <<script
    type="text/javascript">


    $.fn.dataTable.ext.search.push(

        function( settings, data, dataIndex ) {
            var ticker = $('#ticker').val();
            var minVol = parseInt( $('#minVol').val(), 10 );
            var maxVol = parseInt( $('#maxVol').val(), 10 );
            var minClose = parseInt( $('#minClose').val(), 10 );
            var maxClose = parseInt( $('#maxClose').val(), 10 );
            var minOpen = parseInt( $('#minOpen').val(), 10 );
            var maxOpen = parseInt( $('#maxOpen').val(), 10 );
            var minChange = parseFloat( $('#minChange').val(), 10 );
            var maxChange = parseFloat( $('#maxChange').val(), 10 );
            var close = parseFloat(data[2]) || 0;
            var volume = parseFloat( data[3] ) || 0;
            var open = parseFloat(data[1]) || 0;
            var change = parseFloat(data[6] || 0)
            var tickers = (data[0]);

            if ( (( isNaN( minVol ) && isNaN( maxVol ) ) ||
                 ( isNaN( minVol ) && volume <= maxVol ) ||
                 ( minVol <= volume   && isNaN( maxVol ) ) ||
                 ( minVol <= volume   && volume <= maxVol )) &&
               (( isNaN( minClose ) && isNaN( maxClose ) ) ||
                  ( isNaN( minClose ) && close <= maxClose ) ||
                  ( minClose <= close   && isNaN( maxClose ) ) ||
                  ( minClose <= close   && close <= maxClose )) &&
                  (( isNaN( minOpen ) && isNaN( maxOpen ) ) ||
                   ( isNaN( minOpen ) && open <= maxOpen ) ||
                   ( minOpen <= open   && isNaN( maxOpen ) ) ||
                   ( minOpen <= open   && open <= maxOpen )) &&
                   (tickers.includes(ticker.toUpperCase())) &&
                   (( isNaN( minChange ) && isNaN( maxChange ) ) ||
                    ( isNaN( minChange ) && change <= maxChange ) ||
                    ( minChange <= change   && isNaN( maxChange ) ) ||
                    ( minChange <= change   && change <= maxChange ))
               )
            {
                return true;
            }
            return false;
        }
    );


    var table = $('#table_id').DataTable({
      "dom": 'lrtip',
      pageLength:50
    });

    $('#table_id tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
        //alert( 'You clicked on '+data[0]+'\'s row' );
        window.location = "/stockview/"+data[0]+"/";
    } );


    $(document).ready( function () {
    table;
    });

    // Event listener to the two range filtering inputs to redraw on input
    $('#minVol, #maxVol, #minOpen, #maxOpen, #minClose, #maxClose, #maxChange, #minChange, #ticker').keyup( function() {
      table.draw();
    } );



    </script>>
</html>>
{% endblock content %}
