{% extends "welcome/base.html" %}
{%load static%}
{% static 'welcome/demo.js' %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<div id="chart"></div>
<script src="static/welcome/demo.js"></script>


    {% block content %}

      {% if graph %}
      <div style="width:1200;height:1000">
      {{ graph|safe }}
      </div>
{% endif %}


    {% endblock content %}
