<!DOCTYPE html>
<!--- CDN for DT dependencies--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.js"></script>
<!--- CDN for DT and plugins, for reference https://datatables.net/download/--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
<!-- searchbuilder css and js inorder -->

<!-- for filter -->
<script type="text/javascript" src="jquery.dataTables.js"></script>
<script type="text/javascript" src="dataTables.filter.range.js"></script>


{% extends "welcome/base.html" %}
{%load static%}
{% static 'welcome/js/dowCandle.js' %}
{% static 'welcome/js/heatmap.js' %}
{% block content %}

<style>
.nav {
  background-color: darkred;
  box-shadow: 0 5px 0 maroon;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  display:inline-block;
}

.nav:hover {
  background-color: #ce0606;
}

.nav:active {
  box-shadow: none;
  top: 5px;
}

.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    margin-right: 3px;
}
.flex-child:first-child {
    margin-right: 0px;
}
}
</style>

<html>
<head></head>
 <body>
   <div>
     <h3>User's Homepage</h3>
     <p>AInvest homepage is still under construction, but will still act as a utility for the user to interact with his or her assets and quickly preview earning reports. See the content below for quick access to your user interactions.</p>
     <hr>
     <div class="flex-container">

       <div class="flex-child">
         <h4>Asset Book</h4>
         <p>Utilize AInvest to simulate the buying and selling of stocks via the asset book option</p>
         <a class="nav" href="/portfolio/">See More</a>
       </div>
       <div class="flex-child">
         <h4>Custom Screening</h4>
         <p>Create custom screens to filter live data for easier access to information</p>
         <a class="nav" href="/screens/">See More</a>
       </div>
       <div class="flex-child">
         <h4>Suggested Stocks</h4>
         <p>Recieve insights from the AInvest signal detection to make more informed investment decisions</p>
         <a class="nav" href="/suggestions/">See More</a>
       </div>
     </div>
     <hr>
     <h3>Dashboard</h3>
     <p>Quickly view your holdings</p>
     <hr>
     <h3>Suggestions</h3>
     <p>Live suggestions from our surge signal detection</p>
      <table id = "surge" class="display">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Volume</th>
                <th>Cost (USD) </th>
            </tr>
        </thead>
        <tbody>
          <!--- need for blocks to retrieve data here --->
          {%for stock in surge%}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.volume }}</td>
                <td style="color:green;">{{stock.value}}</td>
            </tr>
          {%endfor%}
        </tbody>
    </table>
     <hr>
     <h3>General Stocks</h3>
     <p>This is a set of general assets for quick viewing outside of the main screener page</p>




        <div style="display: table-row; height: 100px;"> <!--- ROW BEGIN --->
          <div style="width: 30%; display: table-cell;">
              <h5>General Earning</h5>
                  <table id="earners" class="display">
                      <thead>
                          <tr>
                              <th>Ticker</th>
                              <th>Volume</th>
                              <th>High</th>
                              <th>Low</th>
                              <th>(%)</th>
                          </tr>
                      </thead>
                      <tbody>
                        <!--- need for blocks to retrieve data here --->
                        {%for stock in earners%}
                          <tr>
                              <td>{{ stock.ticker }}</td>
                              <td>{{ stock.volume }}</td>
                              <td>{{ stock.high }}</td>
                              <td>{{ stock.low }}</td>
                              {% if stock.change > 0 %}
                              <td style="color:green;">{{stock.change}}</td>
                              {% else %}
                              <td style="color:red;">{{stock.change}}</td>
                              {%endif%}
                          </tr>
                        {%endfor%}
                      </tbody>
                  </table>
          </div>
          <div style = "width: 5%; display: table-cell:">
          </div>
          <div style="width: 30%; display: table-cell;">
              <h5>General Losing</h5>
              <table id="losers" class="display">
                  <thead>
                      <tr>
                          <th>Ticker</th>
                          <th>Volume</th>
                          <th>High</th>
                          <th>Low</th>
                          <th>(%)</th>
                      </tr>
                  </thead>
                  <tbody>
                    <!--- need for blocks to retrieve data here --->
                    {%for stock in losers%}
                      <tr>
                          <td>{{ stock.ticker }}</td>
                          <td>{{ stock.volume }}</td>
                          <td>{{ stock.high }}</td>
                          <td>{{ stock.low }}</td>
                          {% if stock.change > 0 %}
                          <td style="color:green;">{{stock.change}}</td>
                          {% else %}
                          <td style="color:red;">{{stock.change}}</td>
                          {%endif%}
                      </tr>
                    {%endfor%}
                  </tbody>
              </table>
            </div>
            <div style = "width: 5%; display: table-cell:">
            </div>
              <div style="width: 30%; display: table-cell;">
                  <h5>Financial Sector</h5>
                  <table id="financial" class="display">
                      <thead>
                          <tr>
                              <th>Ticker</th>
                              <th>Volume</th>
                              <th>High</th>
                              <th>Low</th>
                              <th>(%)</th>
                          </tr>
                      </thead>
                      <tbody>
                        <!--- need for blocks to retrieve data here --->
                        {%for stock in financial%}
                          <tr>
                              <td>{{ stock.ticker }}</td>
                              <td>{{ stock.volume }}</td>
                              <td>{{ stock.high }}</td>
                              <td>{{ stock.low }}</td>
                              {% if stock.change > 0 %}
                              <td style="color:green;">{{stock.change}}</td>
                              {% else %}
                              <td style="color:red;">{{stock.change}}</td>
                              {%endif%}
                          </tr>
                        {%endfor%}
                      </tbody>
                  </table>
              </div>
            </div> <!--- ROW DONE --->
          </div>

        <hr>
        <h4>Upcoming Assets</h4>
        <p>a list of upcoming stocks</p>
        <div style="display: table-row; height: 100px;"> <!--- ROW BEGIN --->
          <div style="width: 100%; display: table-cell;">
              <h5>IPO List</h5>
              <h7 style = "color:grey;">(Initial Public Offering)</h7>
                  <table id="volatiles" class="display">
                      <thead>
                          <tr>
                              <th>Ticker</th>
                              <th>Company</th>
                              <th>Exchange</th>
                              <th>Date</th>
                              <th>Price Range</th>
                              <th>Price</th>
                              <th>Currency</th>
                              <th>Shares</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <!--- need for blocks to retrieve data here --->
                        {%for stock in ipos%}
                          <tr>
                              <td>{{ stock.symbol }}</td>
                              <td>{{ stock.company }}</td>
                              <td>{{ stock.exchange }}</td>
                              <td>{{ stock.date }}</td>
                              <td>{{ stock.range }}</td>
                              <td>{{ stock.price }}</td>
                              <td>{{ stock.currency }}</td>
                              <td>{{ stock.shares }}</td>
                              <td>{{ stock.action }}</td>
                          </tr>
                        {%endfor%}
                      </tbody>
                  </table>
          </div>
          <div style = "width: 10%; display: table-cell:">
          </div>
        </div> <!--- ROW DONE --->







    </div>
 </body>

<<script type="text/javascript">

  var earners = $('#earners').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var earners = $('#losers').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var volatiles = $('#volatiles').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var steady = $('#steady').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var volatiles = $('#tech').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var steady = $('#financial').DataTable({
    "dom": 'tp',
    pageLength:10
  });
  var surge = $('#surge').DataTable({
    "dom": 'tp',
    pageLength:10
  });

  $(document).ready( function () {
  earners;
  losers;
  volatiles;
  steady;
  tech;
  financial;
  surge;
  });

  $('#surge tbody').on('click', 'tr', function () {
      var data = table.row( this ).data();
      //alert( 'You clicked on '+data[0]+'\'s row' );
      window.location = "http://localhost:8000/stockview/"+data[0];
  } );


</script>>

</html>




{%endblock content%}
