<!DOCTYPE html>




<!--- CDN for DT dependencies--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/sc-2.0.3/sp-1.2.2/datatables.min.js"></script>
<!--- CDN for DT and plugins, for reference https://datatables.net/download/--->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/fc-3.3.2/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
<!-- searchbuilder css and js inorder -->

<!-- for filter -->
<script type="text/javascript" src="jquery.dataTables.js"></script>
<script type="text/javascript" src="dataTables.filter.range.js"></script>

{% extends "welcome/base.html" %}

<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>


{% block content %}
{% if user.is_authenticated %}

<a href="http://localhost:8000/edit_portfolio/{{portfolioID}}/" class="button">Add Asset</a>
<br>
<a href="http://localhost:8000/portfolio/" class="button">Return</a>
<br>
<a href="http://localhost:8000/remove_portfolio_asset/{{portfolioID}}/" class="button">Remove Asset</a>
<br>
<a href="http://localhost:8000/edit_portfolio_fields/{{portfolioID}}" class="button">Edit Name and Description</a>



<div>
  <h1>{{portfolioID}}</h1>
  <h3 style="color:grey"> {{portfolio.description}} </h3>
</div>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JQuery Datatable</title>
  </head>
  <body>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Quantity</th>
                <th>Buy Price</th>
                <th>Current Value</th>
                <th>Change (%)</th>
                <th>Earnings ($)</th>
            </tr>
        </thead>
        <tbody>
          <!--- need for blocks to retrieve data here --->
          {%for asset in assets%}
            <tr>
                <td>{{ asset.ticker }}</td>
                <td>{{ asset.quantity }}</td>
                <td>{{asset.buyPrice}}</td>
                <td>{{asset.value}}</td>
                {%if asset.change > 0%}
                <td style="color:green; background:honeydew;">{{asset.change}}</td>
                <td style="color:green; background:honeydew;">{{asset.earnings}}</td>
                {%elif asset.change < 0%}
                <td style="color:red; background:mistyrose;">{{asset.change}}</td>
                <td style="color:red; background:mistyrose;">{{asset.earnings}}</td>
                {%else%}
                <td>{{asset.change}}</td>
                <td>{{asset.earnings}}</td>
                {%endif%}
            </tr>
          {%endfor%}
        </tbody>
        <tfoot>
          <tr>
            <th>Asset</th>
            <th>Quantity</th>
            <th>Buy Price</th>
            <th>Current Value</th>
            <th>Change (%)</th>
            <th>Earnings ($)</th>
          </tr>
        </tfoot>
    </table>

    <<script
    type="text/javascript">


    var table = $('#table_id').DataTable({
      "dom": 'lrtip',
      "scrollable":'True',
    });

    $('#table_id tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
        //alert( 'You clicked on '+data[0]+'\'s row' );
        window.location = "http://localhost:8000/stockview/"+data[0];
    } );


    $(document).ready( function () {
    table;
    });

    // Event listener to the two range filtering inputs to redraw on input
    $('#minVol, #maxVol, #minOpen, #maxOpen, #minClose, #maxClose, #maxChange, #minChange, #ticker').keyup( function() {
      table.draw();
    } );



    </script>>



{%else%}
You must be logged into an active account to access portfolios
{%endif%}
{% endblock %}

<!--- Below will be later changed in amcharts for redirecting to textfield--->
<!--- chart.dataSource.url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSonFU4XtbOCen90_587fyQ4Lc_bCtNwI-Z5U7hUOVtQ97EOZ0WPGmqtAtHA_dKMUGZLVgNNLUFxbrT/pub?gid=1024545958&single=true&output=csv"; --->
